.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* week 5 changes i made  added the css of 1st week */
.header{
    background-color: bisque;
    height: 100px;
    width: 100;
}
.header h1{
    padding-left: 40px;
    margin-top: 0px;
    padding-top: 30px;
}
.button{
    font-size: larger;
    margin-top: 20px;
    background-color: aqua;
    width: 200px;
    height: 50px;
    color: rgb(28, 32, 36);
    font-weight: bold;
    margin-left: 20px;    
}
.checkboxes a{
    display: block;
    margin: 0 auto;
}
.checkbox-group {
  display: block;
  padding: 5px;
}
#Createpoll{
    margin-left: 0px;
    width: 200px;
    text-decoration: none;
}
.first-row{
    background-color: rgb(235, 209, 175);

    font-weight: bold;
}
.parent-container{
    /* margin-top: 20px; */
    
    width :100%;
    height: 250px;
    font-size: larger;
    display: flex;
    flex-direction: column;
    align-self: start;
    align-items: flex-start;
    

}

.parent-container {
    display: flex;
}
.checkboxes {
    width:250px;
    height: 200%; 
    background-color: beige;
    padding-left: 20px;
    margin-left:20px;
    margin-top: 20px;

}

.checkboxes  .btn-normal{
    margin-left: 0px;
}
.table {
    width: 100%;
    font-size: larger;
    text-align-last: left; 
}
#pg1table{
    margin-top: 20px;
    
}
#pg2table{
    width:50%;
    margin-left: 18px;
    font-size:larger;

}
#btn-pg2{
    margin-top: 20px;
    margin-bottom: 45px;
    padding: 4px;
    width: fit-content;
}
.table td{
    border:1px solid black;
    padding-left: 10px;
}
.table thead{
    border:1px solid black;
}

.first-row {
    font-weight: bold;
    border:1px solid black;
}
.line {
    height: 1.5px;
    border-top: 1px solid rgb(110, 77, 187);
    background-color: blueviolet;
}

.question{
    text-decoration: none;
    color: black;
}
.heading{
    text-align: justify;
    padding-left: 20px;
    padding-top: 10px;
}
/* piechart styling */
.piechart{
    height: 400px;
    width: 100%;
    display: flex;
}

/* page 3-- styling */

.radio{
    margin-left: 20px;
    padding-left: 20px;
}


/* page 4*/
.cointainer-pg4{
    background-color: beige;
    width :40%;  
    margin-left: 20px;
}
.cointainer-pg4 h1{
    padding-left: 30px;
}
#qsn{
    text-align: justify;
    padding-top: 30px;
}
#btn-normal-pg4{
    margin-left: 30px;
    margin-top: 10px;
    
}
#btn-pg4{
    margin-top: 0px;    
}
.options{
  padding-bottom: 10px;
  width: 48%;
}
.cointainer-pg4 input{
    font-size: large;
    width: 80%;  
    height: 40px; 
    margin: 10px;
    padding-left: 20px;
    margin-left: 30px;
}
#question-tag-input{
    width: 80%;
}

.btn-normal{
    width: 160px;
    font-size: larger;
    background-color: aqua;
    margin-left: 20px;
    margin-bottom: 20px;

}
.para{
    font-size: larger;
    text-align: justify;
    padding-left: 1px;
    padding-top: 50px;
    display: flex;
}

.input-container {
    position: relative;
    display: inline-block;
   }
   
   .input-container input {
    padding-right: 15px; /* Adjust based on the size of your "X" button */
   }
   
   .delete-btn {
    position: absolute;
    right: 0;
    top: 17px;
    background: transparent;
    border: none;
    cursor: pointer;
   }
/*page 1 media query start   */
@media only screen and (max-width: 600px) {
    .parent-container { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: auto;
        

    }
    #pg1table{
        width: 100%;
        height: 100%;
        margin-top: 20px;
        margin-right:10px;;
        margin-left: 20px;
        font-size: medium;
        align-self: center;
    }
    #pg2table{
        width: 50%;
    }
    
}
@media only screen and (min-width: 600px) {
    .parent-container { 
        display: flex;
        flex-direction: row;
        align-items: flex-start;
     }
    #pg1table{
        width: 50%;
        height: 100%;
        margin-top: 20px;
        margin-right: 70px;
        margin-left: 20px;
        font-size: large;
    }
    #pg2table{
        width: 40%;
    }
    #question-tag-input{
        width: 100%;
    }
   
}
/* page 1 media query end */

/* page 2 media query and flexbox */
.PollDetail{
    display: flex;
   
}
@media only screen and (max-width: 800px){
    .PollDetail{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
       
    }
    #pg2table{
        width:80%;
        margin-left: 18px;
        font-size:larger;
    
    }
    /* .piechart{
        height: 100%;
        width: 100%;
    } */
}


/* page 4 media query start */
@media only screen and (max-width: 600px){
    .cointainer-pg4 input{

        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    

    }
    .cointainer-pg4{
        background-color: beige;
        width :90%;  
    }
    #question-tag-input{
        width: 80%;
    }
    .cointainer-pg4{
        width: 90%;
    }

}

/* context learning */
.box{
    border:3px solid;
    padding: 25px;
}